# Python
__pycache__/
*.pyc
*.pyo
.env

# Virtual Environments
venv/
env/
/htmlcov/

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Data files or outputs that are too large to commit
*.csv
